<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <link rel="icon" href="/images/whisk.png" type="image">
    <title>Easy Cooking</title>
</head>

<body>
    <nav>
        <a href="/" class="nav-a">Easy Cooking</a>
        <a href="/about" class="nav-a">About Us</a>
        <a href="/allrecipes" class="nav-a">Explore Recipes</a>
        <a href="/home" class="nav-a">Search by Ingredient</a>
        <div class="dropdown">
            <button class="nav-btn">My Account</button>
            <div class="dropdown-content">
                <button class="drop-btn" id="first"><a href="/my-account/{{user._id}}">See account</a></button>
                <button class="drop-btn" id="second"><a href="/my-recipes">My recipes</a></button>
                <button class="drop-btn" id="third"><a href="/add-recipe">Add recipe</a></button>
                <button class="drop-btn" id="fourth"><a href="/logout">Logout</a></button>
            </div>
        </div>
    </nav>
    <div class="principal">
        <div class="transparency">
            <h1 class="title">Easy Cooking</h1>
        </div>
    </div>
    <div class="about-us">
        <h1 class="about-title">About us</h1>
        <div class="us">
            <div class="profile card-gabriela">
                <img src="/images/gabi.png" alt="gabi" class="card-image">
                <div class="card-info">
                    <h1 class="card-title">Gabriela Aguiar</h1>
                    <p class="card-text gabi">Formada em Relacões Internacionais e hoje desenvolvedora Full-Stack (MERN), iniciei minha carreira trabalhando com comércio exterior atuando no Brasil e posteriormente no México.

                    Trabalhei na PwC em uma área de consultoria e ética empresarial, na câmara de comércio Brasil & México e também em uma startup da área de música, onde atuava fazendo a ponte entre o cliente final e nossos times internos, especialmente o de tecnologia, com o propósito de solicitar melhorias e novas features. 
                    </p>
                </div>
            </div>
            <div class="profile card-pedro">
                <div class="card-info">
                    <h1 class="card-title">Pedro Siqueira</h1>
                    <p class="card-text">Formado em Ciência da Computação, decidi migrar para área de programação através de um Bootcamp intensivo na Ironhack.
                    Possuo mais de 8 anos de experiência trabalhando na área de TI, com conhecimentos em implantação e manutenção de sistemas, suporte técnico, infraestrutura e implementação de melhorias na área tecnológica. Ampla atuação na construção de parcerias internas entre a área de Negócios e TI, otimizando a comunicação, atendendo às necessidades e garantindo a satisfação no trabalho realizado.</p>
                </div>
                <img src="/images/pedro.jpeg" alt="pedro" class="card-image">
            </div>
        </div>
    </div>
    <footer>
        <h1>Easy Cooking</h1>
        <div>
            <h2>Contact</h2>
            <div class="contact">
                <div class="gabriela">
                    <p>Gabriela</p>
                    <a href="https://www.linkedin.com/in/gabyaguiar/" class="footer-a"><i class="fa fa-linkedin socialMedia"></i></a>
                    <a href="https://github.com/Gabriela-Aguiar/easycooking" class="footer-a"><i
                            class="fa fa-github socialMedia"></i></a>
                </div>
                <div class="pedro">
                    <p>Pedro</p>
                    <a href="https://www.linkedin.com/in/pedrovsiqueira/" class="footer-a"><i class="fa fa-linkedin socialMedia"></i></a>
                    <a href="https://github.com/pedrovsiqueira/easycooking" class="footer-a"><i class="fa fa-github socialMedia"></i></a>
                </div>
            </div>
        </div>
        <div class="links">
            <h2>Links</h2>
            <p><a href="/" class="footer-a">Easy Cooking</a></p>
            <p><a href="/about" class="footer-a">About Us</a></p>
            <p><a href="/allrecipes" class="footer-a">Explore recipes</a></p>
            <p><a href="/login" class="footer-a">Sign up</a></p>
        </div>
    </footer>
    <div class="copy">
        <p> &copy 2020 Copyright: Gabriela Aguiar e Pedro Siqueira</p>
    </div>
</body>

</html>