<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/addRecipe.css">
	<link rel="icon" href="/images/whisk.png" type="image">
	<title>Easy Cooking</title>
</head>

<body>
	<div class="principal">
		<div class="card">
			<h1 class="title">Add a recipe</h1>
			<form action="/add-recipe" method="POST" enctype="multipart/form-data">
				<input type="text" name="title" placeholder="Title of the recipe" size="50" required>
				<div class="summary-instructions">
					<div class="summary">
						<h3 class="titles">Recipe Summary</h3>
						<textarea cols="50" rows="7" name="summary"
							placeholder="Type a summary of the recipe" required></textarea>
					</div>
					<div class="summary">
						<h3 class="titles">Recipe instructions</h3>
						<textarea cols="50" rows="7" name="instructions"
							placeholder="Type the instructions of the recipe" required></textarea>
					</div>
				</div>
				<div class="details">
					<div>
						<label for="" class="text">Ready in:</label>
						<input type="number" name="readyInMinutes" placeholder="Minutes to cook" size="10" required><br>
					</div>
					<div>
						<label for="" class="text">Servings:</label>
						<input type="number" name="servings" placeholder="Number of servings" size="10" required>
					</div>
				</div>
				<h3 class="titles">Recipe Ingredients</h3>
				<label for="" class="text">Amount:</label>
				<input type="number" name="amount" placeholder="Amount of ingredient" class="ingredient" required>
				<label for="" class="text">Unit:</label>
				<input type="text" name="unit" placeholder="Unit in cup/spoon" class="ingredient">
				<label for="" class="text">Name:</label>
				<input type="text" name="name" placeholder="Name of ingredient" class="ingredient">
				<br>
				<label for="" class="text">Amount:</label>
				<input type="number" name="amount" placeholder="Amount of ingredient" class="ingredient">
				<label for="" class="text">Unit:</label>
				<input type="text" name="unit" placeholder="Unit in cup/spoon" class="ingredient">
				<label for="" class="text">Name:</label>
				<input type="text" name="name" placeholder="Name of ingredient" class="ingredient">
				<br>
				<label for="" class="text">Amount:</label>
				<input type="number" name="amount" placeholder="Amount of ingredient" class="ingredient">
				<label for="" class="text">Unit:</label>
				<input type="text" name="unit" placeholder="Unit in cup/spoon" class="ingredient">
				<label for="" class="text">Name:</label>
				<input type="text" name="name" placeholder="Name of ingredient" class="ingredient">
				<br>
				<label for="" class="text">Amount:</label>
				<input type="number" name="amount" placeholder="Amount of ingredient" class="ingredient">
				<label for="" class="text">Unit:</label>
				<input type="text" name="unit" placeholder="Unit in cup/spoon" class="ingredient">
				<label for="" class="text">Name:</label>
				<input type="text" name="name" placeholder="Name of ingredient" class="ingredient">
				<br>
				<input type="file" name="photo" class="file">
				<br>
				<div class="button">
					<button>Create Recipe</button>
					<a href="/home">Go back</a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>