<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/allrecipes.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>EasyCooking AllRecipes</title>
</head>
<body>
    <nav>
        <div class="transparency">
            <button class="nav-btn">My Recipes</button>
            <button class="nav-btn">My Account</button>
        </div>
    </nav>
    <div class="recipes-body">
        <div class="categories">
            <label for="ingredients" class="search-ingredient">Search by ingredient</label>
            <br>
            <form action="">
            <input type="search">
            <i class="fa fa-search"></i>
            </form>
            <h1>Categories</h1>
            <ul class="categoriesList">
                <li><a href="#">20 minutes or less</a></li>
                <li><a href="#">Breakfast</a></li>
                <li><a href="#">Cakes</a></li>
                <li><a href="#">Chicken</a></li>
                <li><a href="#">Dessert</a></li>
                <li><a href="#">Eggs</a></li>
                <li><a href="#">Fish</a></li>
                <li><a href="#">Healthy</a></li>
                <li><a href="#">Meat</a></li>
                <li><a href="#">Pasta</a></li>
                <li><a href="#">Pizza</a></li>
                <li><a href="#">Sandwiches</a></li>
                <li><a href="#">Vegan</a></li>
                <li><a href="#">Vegetarian</a></li>
            </ul>
        </div>
        <div class="recipes">
            <div class="recepes-info">
                <h1>Trending Now</h1>
                <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="recepes-info">
                <h1>Most searched recipes</h1>
                <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="recepes-info">
                <h1>Recently added recipes</h1>
                <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="recepes-info">
                <h1>Recipes best qualified</h1>
                <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="recepes-info">
                <h1>For dessert</h1>
            <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>