<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/allrecipes.css">
    <link rel="stylesheet" href="stylesheets/nav.css">
    <title>EasyCooking AllRecipes</title>
</head>
<body>
    <div class="photo">
        <div class="transparency">
            <nav>
                <a href="/" class="nav-a">Easy Cooking</a>
                <a href="/about" class="nav-a">About Us</a>
                <a href="/allrecipes" class="nav-a">Explore Recipes</a>
                <a href="#" class="nav-a">My Recipes</a>
                <div class="dropdown">
                    <a href="/#"><button class="nav-btn">My Account</button></a>
                    <div class="dropdown-content">
                    <p><a href="/#">See account</a></p>
                    <p><a href="/logout">Logout</a></p>
                </div>
            </nav>
        </div>
    </div>
    <div class="recipes-body">
        <div class="categories">
            <label for="ingredients" class="search-ingredient">Search by ingredient</label>
            <br>
            <form action="">
            <input type="search">
            <i class="fa fa-search"></i>
            </form>
            <h1>Categories</h1>
            <ul class="categoriesList">
                <li><a href="#"><img src="/images/icons/tapas.png" class="icon"> 20 minutes or less</a></li>
                <li><a href="#"><img src="/images/icons/pancake.png" class="icon">Breakfast</a></li>
                <li><a href="#"><img src="/images/icons/pie.png" class="icon">Cakes</a></li>
                <li><a href="#"><img src="/images/icons/thanksgiving.png" class="icon">Chicken</a></li>
                <li><a href="#"><img src="/images/icons/bananasplit.png" class="icon">Dessert</a></li>
                <li><a href="#"><img src="/images/icons/cocktail.png" class="icon">Drinks</a></li>
                <li><a href="#"><img src="/images/icons/eggs.png" class="icon">Eggs</a></li>
                <li><a href="#"><img src="/images/icons/fishfood.png" class="icon">Fish</a></li>
                <li><a href="#"><img src="/images/icons/lettuce.png" class="icon">Healthy</a></li>
                <li><a href="#"><img src="/images/icons/steak.png" class="icon">Meat</a></li>
                <li><a href="#"><img src="/images/icons/spaghetti.png" class="icon">Pasta</a></li>
                <li><a href="#"><img src="/images/icons/pizza.png" class="icon">Pizza</a></li>
                <li><a href="#"><img src="/images/icons/hamburger.png" class="icon">Sandwiches</a></li>
                <li><a href="#"><img src="/images/icons/vegansymbol.png" class="icon">Vegan</a></li>
                <li><a href="#"><img src="/images/icons/naturalfood.png" class="icon">Vegetarian</a></li>
            </ul>
        </div>
        <div class="recipes">
            <div class="recepes-info">
                <h1>Trending Now</h1>
                <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="recepes-info">
                <h1>Most searched recipes</h1>
                <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="recepes-info">
                <h1>Recently added recipes</h1>
                <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="recepes-info">
                <h1>Recipes best qualified</h1>
                <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
            <div class="recepes-info">
                <h1>For dessert</h1>
            <div class="recipes-card">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <h1>Easy Cooking</h1>
    <div>
        <h2>Contact</h2>
        <div class="contact">
            <div class="gabriela">
                <p>Gabriela</p>
                <a href="https://www.linkedin.com/in/gabyaguiar/"><i class="fa fa-linkedin socialMedia"></i></a>
                <a href="https://github.com/Gabriela-Aguiar/easycooking"><i class="fa fa-github socialMedia"></i></a>
            </div>
            <div class="pedro">
                <p>Pedro</p>
                <a href="https://www.linkedin.com/in/pedrovsiqueira/"><i class="fa fa-linkedin socialMedia"></i></a>
                <a href="https://github.com/pedrovsiqueira/easycooking"><i class="fa fa-github socialMedia"></i></a>
            </div>  
        </div>
    </div>
    <div class="links">
        <h2>Links</h2>
        <p><a href="/">Easy Cooking</a></p>
        <p><a href="/about">About Us</a></p>
        <p><a href="/allrecipes">Explore recipes</a></p>
        <p><a href="/login">Sign up</a></p>
    </div>
</footer>
<div class="copy">
    <p> &copy 2020 Copyright: Gabriela Aguiar e Pedro Siqueira</p>
</div>
</html>