<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="icon" href="/images/whisk.png" type="image">
    <title>Easy Cooking</title>
</head>

<body>
    <nav>
        <a href="/" id="cursive" class="nav-a">Easy Cooking</a>
        <a href="/about" class="nav-a">About Us</a>
        <a href="/allrecipes" class="nav-a">Explore Recipes</a>
        <a href="/home" class="nav-a">Search by Ingredient</a>
        <button class="sign-btn"><a href="/login" class="btn-text">Login / Sign Up</a></button>
        <div class="menu">
            <div class="hamburguer first"></div>
            <div class="hamburguer second"></div>
            <div class="hamburguer third"></div>
        </div>
        <div class="side-menu hide">
            <a href="/" class="side-item nav-a">Easy Cooking</a>
            <a href="/about" class="side-item nav-a">About Us</a>
            <a href="/allrecipes" class="side-item nav-a">Explore Recipes</a>
            <a href="/home" class="side-item nav-a">Search by Ingredient</a>
            <button class="sign-btn c"><a href="/login" class="btn-text">Login / Sign Up</a></button>
        </div>
    </nav>
    <div class="principal">
        <div class="transparency">
            <div class="text">
                <h1 class="title">Easy Cooking</h1>
                <p>Stop wasting your time while thinking what to cook.
                    <br>
                    We can help you to create your own recipes from products which are in your fridge right now!
                </p>
            </div>
        </div>
    </div>
    <div class="div-all">
        <h1 class="title-how">How does it work?</h1>
        <div class="works">
            <div class="card">
                <div class="img"><img src="/images/groceriesIcon.png" alt="" class="img-fridge"></div>
                <div class="card-title">
                    <h2>Open your fridge</h2>
                </div>
                <div class="card-text">
                    <p>Check what you have in your fridge. Write 1 to 3 words on the search field and you'll find the
                        recipes with these ingredients.</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="/images/recipeIcon1.png" alt="" class="img-recipe"></div>
                <div class="card-title">
                    <h2>Choose a recipe</h2>
                </div>
                <div class="card-text">
                    <p>Choose the best one for you. We want you to make the process of cooking easier for you.</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="/images/wine.png" alt="" class="img-spaghetti"></div>
                <div class="card-title">
                    <h2>Enjoy your dish!</h2>
                </div>
                <div class="card-text">
                    <p>After registration you will have your personal space where you can add recipes. Then, you can
                        enjoy your dish!</p>
                </div>
            </div>
        </div>
        <a href="/allrecipes"><button class="find-btn">Find a recipe</button></a>
    </div>
    <footer>
        <div>
            <h2>Contact</h2>
            <div class="contact">
                <div class="gabriela">
                    <p>Gabriela</p>
                    <a href="https://www.linkedin.com/in/gabyaguiar/" class="footer-a"><i
                            class="fa fa-linkedin socialMedia"></i></a>
                    <a href="https://github.com/Gabriela-Aguiar/easycooking" class="footer-a"><i
                            class="fa fa-github socialMedia"></i></a>
                </div>
                <div class="pedro">
                    <p>Pedro</p>
                    <a href="https://www.linkedin.com/in/pedrovsiqueira/" class="footer-a"><i
                            class="fa fa-linkedin socialMedia"></i></a>
                    <a href="https://github.com/pedrovsiqueira/easycooking" class="footer-a"><i
                            class="fa fa-github socialMedia"></i></a>
                </div>
            </div>
        </div>
        <h1>Easy Cooking</h1>
        <div class="links">
            <h2>Links</h2>
            <p><a href="/" class="footer-a">Easy Cooking</a></p>
            <p><a href="/about" class="footer-a">About Us</a></p>
            <p><a href="/allrecipes" class="footer-a">Explore recipes</a></p>
            <p><a href="/login" class="footer-a">Sign up</a></p>
        </div>
    </footer>
    <div class="copy">
        <p> &copy 2020 Copyright: Gabriela Aguiar e Pedro Siqueira</p>
    </div>

    <script src="/javascripts/hamburguer.js"></script>

</body>

</html>