<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/resetPassword.css">
    <title>Document</title>
</head>
<body>
    <div class="all">
        <div class="principal">
            <h1 class="text">Reset your password</h1>
            <p>Please enter your email:</p>
            <form action="/resetPassword" method="POST">
                <label for="email"></label>
                <div class="input">
                    <input type="text" placeholder="Email" name="email">
                    <button type="submit" class="reset-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>