<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/teste" method="GET">

    
        <input type="text" name="ingredients" value="banana" hidden>
        <input type="text" name="ingredients" value="apple" hidden>        
        <input type="text" name="ingredients" value="eggs" hidden>
        
        <input type="submit" value="Enviar">
    </form>
</body>

</html>