@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
}

body{
    font-size: 10px;
}


:root{
    --primaryColor: #F1935C;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.html{
    font-size: 10px;
}

.principal {
    background-image: url('/images/chefs1.jpg');
    height: 80vh;
    background-position: top;
    background-size: cover;
}

.transparency {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80vh;
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
    font-size: 10rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-shadow: 5px 5px 5px var(--primaryColor);
    margin-top: 100px;
    margin-bottom:50px;
    text-align: center;
}

.about-us {
    height: 90vh;
}

.about-title {
    font-size: 3rem;
    color: var(--primaryColor);
    text-align: center;
    margin-top: 50px;
}

.about-title::after {
    content: '';
    height: 4px;
    width: 20%;
    background: var(--primaryColor);
    display: block;
    margin: 10px auto;
}

.us {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    background: white;
    font-family: roboto;
    text-align: center;
    margin:30px;
    width: 90%;
}

.card-gabriela {
    margin-top: 50px;
}

.gabi{
    margin-left: 20px;
}

.card-pedro {
    margin-left: 100px
}

.card-image {
    width: 180px;
    height: 250px;
    border-radius: 10px;
}

.card-info {
    width: 80vw
}

.card-title {
    margin-top:0px;
    font-size:2rem;
    width: 100%;
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
}

.card-text {
    width: 100%;
    font-size: 1rem;
}
 