@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primaryColor: #F1935C;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.html{
    font-size: 10px;
}

nav {
    background-image: url('/images/cook4.jpg');
    height: 20vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparency {
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
    display: flex;
    justify-content: flex-end;
}

.nav-btn {
    background: var(--primaryColor);
    padding: 10px 16px;
    width: auto;
    font-weight: 600;
    text-transform:  uppercase;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    margin: 15px 15px 15px 0px;
    height: 25%;
}

.recipes-body {
    display: flex;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-ingredient {
    font-size: 25px;
}

form{
    position: relative;
    top: 4%;
    left: 40%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--primaryColor);
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: var(--primaryColor);
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #fff;
    color: var(--primaryColor);
}

.categories {
    margin-left: 50px;
}

.categories h1 {
    margin-top: 30px;
}

.categoriesList {
    list-style-type: none;
    padding-top: 10px;
}

.categoriesList li {
    padding-top: 30px;
}

.categoriesList a{
    display: flex;
    align-items: center;
}

.recipes {
    margin-left: 200px;
    width: 900px;
}

.recipes-card {
    display: flex;
    justify-content: space-around;
}

.card{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
   color: var(--primaryColor);
}

.icon {
    width: 20px;
    margin-right: 10px;
}