@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
}

body{
    font-size: 10px;
}


:root{
    --primaryColor: #F1935C;
}

nav {
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--primaryColor);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

nav a:hover {
    color: #777;
}

.sign-btn {
    background: var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    text-transform:  uppercase;
    border-radius: 4px;
    color: #fff;
    cursor: pointer; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
}

.sign-btn:hover {
    transform: scale(1.1);
}

.btn-text {
    color: #fff;
    font-size: 17px;
}

.principal {
    background-image: url('/images/EasyCooking.gif');
    height: 80vh;
    background-position: top;
    background-size: cover;
}

.transparency {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80vh;
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
    display: flex;
	flex-direction: column;
	align-items: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

.text p {
    max-width: 40%;
    padding-top: 50px;
    text-align: center;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 7rem;
    text-shadow: 5px 5px 5px var(--primaryColor);
}

.div-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-how {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    font-size: 4rem;
}

.works {
    height: 50vh;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.card {
    width: 16%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
}

.card:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    transform: scale(1.2);
}

.img-fridge {
    width: 100px;
}

.img-recipe {
    width: 100px;
}

.img-spaghetti {
    width: 100px;
}

.card-title {
    font-size: 1rem;
    margin-top: 20px;
}

.card-text {
    margin-top: 5px;
    font-size: 1rem;
    text-align: center;
}

.find-btn {
    background-color: #fff;
    color: #000;
    border: 3px solid var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.find-btn:hover {
    background-color: var(--primaryColor);
    color: #fff;
    transition: 0.2s linear;
    transform: scale(1.1);
}