@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

* {
    margin: 0;
}

body{
    font-size: 10px;
}


:root{
    --primaryColor: #F1935C;
}

.principal {
    background-image: url('/images/EasyCooking.gif');
    height: 80vh;
    background-position: top;
    background-size: cover;
}

.transparency {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80vh;
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
    display: flex;
	flex-direction: column;
	align-items: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

/* .text p {
    max-width: 40%;
    padding-top: 50px;
    text-align: center;
} */

.text p {
    max-width: 40%;
    padding-top: 50px;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

.title {
    font-family: 'Pacifico', cursive;
    font-size: 7rem;
    text-shadow: 5px 5px 5px var(--primaryColor);
}

.div-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/waves.png');
    background-position: top;
    background-repeat: no-repeat;
    background-color: #F1F2F3;
}

.title-how {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    font-size: 4rem;
}

.works {
    height: 50vh;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.card {
    width: 16%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
}

.card:hover {
    box-shadow: 0 2px 6px rgba(241, 147, 92, 0.726), 0 3px 6px rgba(0,0,0,0.1);
    transform: scale(1.2);
}

.img-fridge {
    width: 100px;
}

.img-recipe {
    width: 100px;
}

.img-spaghetti {
    width: 100px;
}

.card-title {
    font-size: 1rem;
    margin-top: 20px;
}

.card-text {
    margin-top: 5px;
    font-size: 1rem;
    text-align: center;
}

.find-btn {
    background-color: #fff;
    color: #000;
    border: 3px solid var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    text-transform: uppercase;
    margin-bottom: 80px;
    outline-color: #F1935C;
}

.find-btn:hover {
    background-color: var(--primaryColor);
    color: #fff;
    transition: 0.2s linear;
    transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 992px) {
    .find-btn {
        margin-top: 90px;
    }

    .text {
        font-size: 1.5rem;
    }
    .text p {
        max-width: 60%;
    }
}

@media (min-width: 630px) and (max-width: 768px) {
    
    .text {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .text p {
        max-width: 60%;
    }

    .works {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100vw;
        margin-left: 10px;
    }

    .card-title {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    
    .card-text {
        font-size: 0.7rem;
        margin-left: 30px;
        margin-top: 30px;
        max-width: 300px;
    }

    .img-fridge {
        width: 50px;
    }
    
    .img-recipe {
        width: 50px;
    }
    
    .img-spaghetti {
        width: 50px;
    }
}


@media (min-width: 576px) and (max-width: 630px) {
    
    .text {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .text p {
        max-width: 80%;
    }

    .title {
        margin-left: 20px;
    }

    .works {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100vw;
        margin-left: 30px;
    }

    .card-title {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    
    .card-text {
        font-size: 0.7rem;
        margin-left: 30px;
        margin-top: 30px;
        max-width: 300px;
    }

    .img-fridge {
        width: 50px;
    }
    
    .img-recipe {
        width: 50px;
    }
    
    .img-spaghetti {
        width: 50px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .find-btn {
        margin-top: 90px;
    }

    .text {
        font-size: 1.5rem;
    }
    .text p {
        max-width: 60%;
    }
}

@media (min-width: 630px) and (max-width: 768px) {
    
    .text {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .text p {
        max-width: 60%;
    }

    .works {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100vw;
        margin-left: 10px;
    }

    .card-title {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    
    .card-text {
        font-size: 0.7rem;
        margin-left: 30px;
        margin-top: 30px;
        max-width: 300px;
    }

    .img-fridge {
        width: 50px;
    }
    
    .img-recipe {
        width: 50px;
    }
    
    .img-spaghetti {
        width: 50px;
    }
}


@media (min-width: 576px) and (max-width: 630px) {
    
    .text {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .text p {
        max-width: 80%;
    }

    .title {
        margin-left: 20px;
    }

    .works {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100vw;
        margin-left: 30px;
    }

    .card-title {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    
    .card-text {
        font-size: 0.7rem;
        margin-left: 30px;
        margin-top: 30px;
        max-width: 300px;
    }

    .img-fridge {
        width: 50px;
    }
    
    .img-recipe {
        width: 50px;
    }
    
    .img-spaghetti {
        width: 50px;
    }
}