@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
* {
    margin: 0;
}

body{
    font-size: 10px;
}

:root{
    --primaryColor: #F1935C;
}

.principal {
    background-image: linear-gradient(to right, #F1935C , rgb(235, 113, 113));
    height: 50vh;
    width: 100vw;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.image {
    width: 200px;
    height: 180px;
    background-color: #ddd;
    border-radius: 100px;
    padding: 10px;
}

.username {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-top: 30px;
    color: #fff;
}

.user-information {
    height: 50vh;
    width: 100vw;
    margin-top: 40px;
    position: relative;
    left: 40%;
}

.user-information p {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    color: var(--primaryColor);
    margin-right: 10px;
}

.btn {
    background: var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    text-transform:  uppercase;
    border-radius: 4px;
    color: #fff;
    cursor: pointer; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0; 
    position: relative;
    top: 60px;
    left: 100px;
}

.btn:hover {
    transform: scale(1.1);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: var(--primaryColor);;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: var(--primaryColor);;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: rgb(241, 167, 124);
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select:hover::after {
  color: #fff;
}

.level {
    display: flex;
    align-items: flex-end;
}

.orange-header {
    background-color: var(--primaryColor);
    color: #fff;
}

.x-btn {
    margin-right: 15px;
}

.x-btn:hover {
    cursor: pointer;
}

.save-btn {
    background: var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    text-transform:  uppercase;
    border-radius: 4px;
    color: #fff;
    cursor: pointer; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
}

.save-btn:hover {
    transform: scale(1.1);
}

.img-btn {
    background: #fff;
    padding: 7px 10px;
    width: auto;
    text-transform:  uppercase;
    border-radius: 4px;
    color: var(--primaryColor);
    cursor: pointer; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    margin-top: 5px;
}

.img-btn:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 992px) {
    .username {
        margin-top: 10px;
    }
}

@media (min-width: 630px) and (max-width: 768px) {
    .username {
        margin-top: 0;
    }
}


@media (min-width: 576px) and (max-width: 630px) {
    .username {
        margin-top: 0;
    }
}