@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600');
@import url("https://fonts.googleapis.com/css?family=Hind:400,700");

:root{
  --primaryColor: #F1935C;
}

* {
  margin: 0;
}

body{
  font-size: 10px;
}

.div-photo {
  background-image: url('/images/book.webp');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  height: 70vh;
}

.transparency1 {
  background-color: rgba(0, 0, 0, 0.6);
  height: 70vh;
  width: 100vw;
  display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 7rem;
  text-shadow: 5px 5px 5px var(--primaryColor);
  text-align: center;
  color: #fff;
  cursor: none;
}

.myRecipes-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  color: var(--primaryColor);
  margin-top: 20px
}

.myRecipes-title::after {
  content: '';
  height: 2px;
  width: 20%;
  background: var(--primaryColor);
  display: block;
  margin: 10px auto;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
  
img {
  max-width: 100%;
  height: auto;
  display: block;
}
  
h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--primaryColor);
  font-family: 'Pacifico', cursive;
}

a {
  text-decoration: none;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.carousel-wrapper .carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

.carousel-wrapper .carousel .carousel-cell {
  padding: 10px;
  background-color: #FFFFFF;
  width: 20%;
  height: 350px;
  min-width: 120px;
  margin: 0 20px;
  transition: transform 500ms ease;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
.carousel-wrapper .carousel .carousel-cell .more {
  display: block;
  opacity: 0;
  margin: 5px 0 15px 0;
  text-align: center;
  font-size: 10px;
  color: #CFCFCF;
  text-decoration: none;
  transition: opacity 300ms ease;
}
.carousel-wrapper .carousel .carousel-cell .more:hover, .carousel-wrapper .carousel .carousel-cell .more:active, .carousel-wrapper .carousel .carousel-cell .more:visited, .carousel-wrapper .carousel .carousel-cell .more:focus {
  color: #CFCFCF;
  text-decoration: none;
}
.carousel-wrapper .carousel .carousel-cell .price sup {
  top: 2px;
  position: absolute;
}
.carousel-wrapper .carousel .carousel-cell.is-selected {
  transform: scale(1.2);
}

.carousel-wrapper .flickity-page-dots {
  display: none;
}

.carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
  overflow: visible;
}

.button {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 30%;
}

.edit-recipe-btn{
  margin-top: 10px;
  margin-left: 10px;
  background: var(--primaryColor);
  padding: 7px 10px;
  width: auto;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  cursor: pointer; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
}

.edit-recipe-btn:hover {
  transform: scale(1.1);
}

.created-img {
  width: auto;
  max-height: 70%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .button {
    left: 15%;
  }
  .carousel-wrapper .carousel .carousel-cell {
    height: 250px;
  }
}

@media (min-width: 630px) and (max-width: 768px) {
  .button {
    left: 6%;
  }
  .carousel-wrapper .carousel .carousel-cell {
    height: 250px;
  }
}


@media (min-width: 576px) and (max-width: 630px) {
  .button {
    left: 4%;
  }
  .carousel-wrapper .carousel .carousel-cell {
    height: 250px;
  }
}
