@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600');

:root{
    --primaryColor: #F1935C;
}

* {
    margin: 0;
}

body{
    font-size: 10px;
}

.div-photo {
    background-image: url('/images/book.webp');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height: 70vh;
}

.transparency1 {
    background-color: rgba(0, 0, 0, 0.6);
    height: 70vh;
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 7rem;
    text-shadow: 5px 5px 5px var(--primaryColor);
    text-align: center;
    color: #fff;
    cursor: none;
}

.recipe-results{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    color: var(--primaryColor);
    margin-top: 20px;
    margin-bottom: 40px;
}

.recipe-results::after {
    content: '';
    height: 2px;
    width: 70%;
    background: var(--primaryColor);
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card-container-recipes {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    width: 400px;
    height: 80px;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.card:hover {
    box-shadow: 5px 5px 15px rgba(139, 95, 53, 0.692);
    color:var(--primaryColor);
    cursor: pointer;
}

.card-title {
    color: grey;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
}

.card-title:hover{
    color:var(--primaryColor);
    cursor: pointer;
}

.card-image {
    width: 100px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* .edit-recipe-btn{
    margin-top: 10px;
    margin-left: 10px;
    background: var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    cursor: pointer; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
} */

