@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
}

body{
    font-size: 10px;
}

:root{
    --primaryColor: #F1935C;
}

nav {
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.nav-a {
    text-decoration: none;
    color: var(--primaryColor);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.nav-a:hover {
    color: #777;
    border-bottom: 2px solid var(--primaryColor);
}

.sign-btn {
    background: var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    text-transform:  uppercase;
    border-radius: 4px;
    color: #fff;
    cursor: pointer; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
}

.sign-btn:hover {
    transform: scale(1.1);
}

.btn-text {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}

.nav-btn {
    background: var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    border-radius: 4px;
    color: #fff;
    cursor: pointer; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    font-size: 17px;
}

.nav-btn:hover {
    transform: scale(1.1);
}


.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    visibility: hidden;
    opacity:0;
    position: absolute;
    left: 0;
    border-radius: 5px;
    z-index: 1;
    transition:visibility 0.5s linear,opacity 0.5s linear;
    background: rgba(0, 0, 0, 0);
}

.dropdown-content a {
    text-decoration: none;
    color: #fff;
}

.dropdown-content a:hover {
    color: #777;
}
  
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity:1;
}

.dropdown:hover #first {
    transition-delay: 0.2s;
}

.dropdown:hover #second {
    transition-delay: 0.4s;
}

.dropdown:hover #third {
    transition-delay: 0.6s;
}

.drop-btn {
    background: var(--primaryColor);
    padding: 7px 10px;
    width: 120px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 17px;
    margin: 10px 0px;
}
