@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600');

:root {
	--primaryColor: #F1935C;
}

* {
	margin: 0;
}

body {
	font-size: 10px;
}

.div-photo {
	background-image: url('/images/recipe1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
}

.transparency1 {
	background-color: rgba(0, 0, 0, 0.6);
	height: 70vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	font-family: 'Pacifico', cursive;
	font-size: 7rem;
	text-shadow: 5px 5px 5px var(--primaryColor);
	text-align: center;
	color: #fff;
}

.recipe-results {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.6rem;
	color: var(--primaryColor);
	margin-top: 20px
}

.recipe-results::after {
	content: '';
	height: 4px;
	width: 20%;
	background: var(--primaryColor);
	display: block;
	margin: 10px auto;
}


.card-container-recipe {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 150px;
	margin-bottom: 50px;
}

.card {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 210px 160px 80px;
	grid-template-areas: "image""text""stats";
	border-radius: 18px;
	background: white;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	font-family: roboto;
	text-align: center;
	transition: 0.5s ease;
	margin: 30px;
	position: relative;
}

.card-container-recipe a {
	text-decoration: none;
	color: #000;
}

.card-image {
	grid-area: image;
	grid-area: image;
	background: url("img1.jpg");
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
	width: 100%;
}

.card-text {
	grid-area: text;
	grid-area: text;
	margin: 25px;
}

.card-text i {
	color: grey;
	font-size: 15px;
	font-weight: 300;
	padding: 10px;
}

.form-likes {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.card-text h2 {
	margin-top: 0px;
	font-size: 25px;
}

.card-text h2:hover {
	color: var(--primaryColor);
}

.card:hover {
	box-shadow: 5px 5px 15px rgba(139, 95, 53, 0.692);
	color: var(--primaryColor);
}


.fa-heart:hover {
	color: red;
	cursor: pointer;
}

.fa-heart:hover::after {
	content: 'Like Me!';
	display: block;
	color: var(--primaryColor);
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 10px;
}

.liked-recipe {
	color: red;
}

.border-none {
	border: none;
	padding: 0;
	text-decoration: none;
	outline: none;
}

@media (min-width: 768px) and (max-width: 992px) {
	.card {
		grid-template-columns: 200px;
		grid-template-rows: 180px 100px 80px;
	}
}

@media (min-width: 630px) and (max-width: 768px) {
	.card {
		grid-template-columns: 200px;
		grid-template-rows: 180px 100px 80px;
	}
}


@media (min-width: 576px) and (max-width: 630px) {
	.card {
		grid-template-columns: 200px;
		grid-template-rows: 180px 100px 80px;
	}
}