@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600');

:root{
    --primaryColor: #F1935C;
}

* {
    margin: 0;
}

body{
    font-size: 10px;
}

.div-photo {
    background-image: url('/images/recipe1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height: 70vh;
}

.transparency1 {
    background-color: rgba(0, 0, 0, 0.6);
    height: 70vh;
    width: 100vw;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 7rem;
    text-shadow: 5px 5px 5px var(--primaryColor);
    text-align: center;
    color: #fff;
}

.card-container-recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.card {
    width: 21vw;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: center;
    border: 1px solid #e1e1e1;
    background-color: #F1F2F3;
    margin-bottom: 40px;
    padding-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.card-title {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 30px 0;
}

img {
    width: 100%;
}

.card-like {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1rem;
    margin-right: 200px;
}


.card-btn{
    background: var(--primaryColor);
    padding: 7px 10px;
    width: auto;
    text-transform:  uppercase;
    border-radius: 4px;
    color: #fff;
    cursor: pointer; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
}

.card:hover {
    border: 1px solid #F1935C;
    box-shadow: 5px 5px 5px var(--primaryColor);
    transform: scale(1.1);
}